/* spigen_header */

#wrap{width: 100%; min-width:1366px; min-width:1366px; 
     height:100%; min-height:700px; min-height:43.75rem; 
     background-color: #ccf;}

/* #headBox ========================================*/
#headBox{position:fixed; top:0; left:0; z-index:1000;
         width: 100%; height: 100px; box-sizing: border-box; 
         padding:27px 60px; background-color: #fff;}
#headBox:after,
#headBox::after{content:" "; display: block; 
          position: absolute; z-index: 10; left: 0; bottom:0;
          width: 100%; height: 0; 
          border-bottom:1px solid #aaa;}

@media screen and (max-width:1366px) {
  #gnb{display: none;}
}

 h1{position:relative; float:left; width: 200px; height: 44px; background-color: #ccc;}
 /* #gnb ++++++++++++++++++++++++ */
 #gnb{position:absolute; top:0; left:0; right:0; margin:auto; 
      width:760px; height:100px; background-color: #adf;}
  .web_navigation>h2{width: 0; height: 0; overflow: hidden;}    
  .web_navigation>ul{position:relative; width: 100%; height:auto; background-color: #fff;}
  
   #gnb>ul:before,
   #gnb>ul::before{content:" "; display: block; 
    position: absolute; z-index:-1; top: 0; left:50%; margin-left:-50vw;
    width: 100vw; height: 100%; background-color: inherit;}

  .web_navigation>ul:after,
  .web_navigation>ul::after{content:" "; display: block; width: 0; height: 0; clear:both;}

  .web_navigation>ul>li{float: left; width:25%; height:auto; padding:0 5px; 
            box-sizing:border-box; text-align: center;}
  .web_navigation dl{width: 100%; height:auto;}
  .web_navigation dt{position:relative; width: 100%; height:100px;}

  #gnb dt:before,
  #gnb dt::before{content:" "; display:block;
                             position:absolute; right:-6px; top:0; bottom:10px; margin:auto;
                             width:0; height:20px; border-right:2px solid #aaa;}

  .web_navigation>ul>li:last-child dt:before,
  .web_navigation>ul>li:last-child dt::before{display: none;}

  .web_navigation dt>a{display:block; position:relative; z-index:100; 
            width:100%; height: 100%;
            box-sizing: border-box; padding-top:30px; 
            color:#171717; font-size:1.2rem; text-transform:capitalize;
            outline:0; }

/* marin(외부여백), padding(안쪽여백), 
border(외곽선-부피를 가지는, 부분을사용가능), 
outline(외곽선-부피를 가지지않음-안개같은형상, 부분을 사용할 수 없는 형태) */


  #gnb dt>a:after,
  #gnb dt>a::after{content:" "; display: block; 
              position:absolute; z-index: 500; left:0; bottom:-1px; 
              width:0; height:0; border-bottom:4px solid #f70;
              transition:width 300ms ease;}

  #gnb dt>a:hover:after,
  #gnb dt>a:focus:after {width:100%;}

  #gnb dt>a.action:after,
  #gnb dt>a.action::after {width:100%;}

  .web_navigation dt>a:hover,
  .web_navigation dt>a:focus{color:#171717; text-decoration:underline;}

  #gnb dd{display: none;}
  .web_navigation dd{width: 100%; height:auto; padding-top:1rem; padding-bottom:20px; }
  
  .web_navigation dd>a{display:block; width: 100%; height:auto; padding:5px 0; 
           margin-bottom:5px; color:#333; text-transform:capitalize;
          transition:all 300ms ease; text-decoration-color: rgba(255, 119, 0, 0);}

  #gnb dd>a:hover,
  #gnb dd>a:focus{outline: 0; text-decoration:underline; color:#f70;
                            text-decoration-color: rgba(255, 119, 0, 1); font-weight: bold;}
  .web_navigation dd>a:hover,
  .web_navigation dd>a:focus{outline: 0; text-decoration:underline; color:#171717;
                            text-decoration-color: #171717; font-weight: bold;}


  .gnb_btn{position:relative; z-index:200; float:right; width:44px; height:44px;}
  .gnb_btn>button{width: 100%; height:100%; background-color: transparent;
                font-size:2rem; color:#171717;
                transition:all 300ms ease;}
  .gnb_btn>button:hover,
  .gnb_btn>button:focus {color:#f70; transform:scale(1.3);}

  /* .side_gnb +++++++++++++++++++++++++++++++++ */
  .side_gnb {display:none; width: 100%; height: 100%; 
    position:fixed; top: 0; left: 0; z-index:2000;
    padding-top:200px; box-sizing:border-box;
    background-color: rgb(255, 94, 0,0.5);}
/* ------------------------------------------- */    
    .close_gnb_btn{width:60px; height:60px; margin:auto; margin-bottom:20px;}
    .close_gnb_btn>button{width:100%; height:100%; background-color:transparent;
                        font-size:3.75rem; color:#fff; 
                        transition:all 300ms ease;}
    .close_gnb_btn>button:hover,
    .close_gnb_btn>button:focus {transform:rotate(180deg) scale(1.2);
                                text-shadow:0.2rem 0.2rem 0.2rem rgba(0,0,0,0.5);}
/* ------------------------------------------- */
    .side_gnb_area{width:760px; height:auto; min-height:400px; margin:auto;}
    .side_gnb_area ul{background-color:transparent;}
    .side_gnb_area dl a{font-size:1.3rem; color:#fff;}
    .side_gnb_area dt>a{font-size:2rem; font-weight:bold;}

