/* basic_02.css */
.icon_01 {
  background-image: url("../../img/main/icon/login1.jpg"); }

.icon_02 {
  background-image: url("../../img/main/model/login2.jpg"); }

.icon_03 {
  background-image: url("../../img/main/nature1/login3.jpg"); }

/*
%box{display:block; width:100%; height:100%;}

ul{ @extend %box; }
li{ @extend %box; }

.box:after{content:" "; @extend %box;}
.box::after{content:" "; @extend %box;}
*/
.my_01 {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../img/main/i.jpg");
  background-repeat: repeat-x;
  background-position: 50% 50%;
  background-size: contain;
  background-attachment: fixed; }

#wrap {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../img/main/j.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-attachment: fixed; }

#headBox {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../../img/main/k.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  background-attachment: fixed; }

.testUnit {
  width: 960px;
  width: 60rem; }
