// mixin_02
$url:'../';


@mixin fullBox($w:100%, $h:100%, $bg:$sample){
  width:$w; height:$h; margin:auto; 
  background-color:$bg;
}// @mixin fullBox()


$rootUnit: 16;
// -----------------------------------------
// unit px, rem 처리
@function unit($u){
  @return $u / $rootUnit;
}// @function()

@mixin conUnit($pro, $u){
  #{$pro}:$u + px;
  #{$pro}:unit($u) + rem;
}

@mixin hidden{
  display: block; width: 0; height: 0; overflow: hidden;
}

@mixin image($v , $i:none, $w:100%, $h:100%, $r:no-repeat, $p:0 0, $s:contain){
  @if($v = block){
    display:block; 
  }@else if ($v == none){
    display:none; 
  }@else if ($v == inline-block){
    display:inline-block; 
  }
  width:$w; height:$h; 
  @if($i != none){
    background-image:url($url + $i);
  }
  background-repeat:$r;
  background-position:$p;
  background-size:$s;
  @content;
  
}

// ----------------------------------------
@function img($i){
  @return url($url + $i);
}