// mixin_02

@mixin fullBox($w:100%, $h:100%, $bg:$sample){
  width:$w; height:$h; margin:auto; 
  background-color:$bg;
}// @mixin fullBox()


$rootUnit: 16;
// -----------------------------------------
// unit px, rem 처리
@function unit($u){
  @return $u / $rootUnit;
}// @function()

@mixin conUnit($pro, $u){
  #{$pro}:$u + px;
  #{$pro}:unit($u) + rem;
}