// main.scss  -> main.css로 변환처리
/* main.css */ 
@import "_basic/var";   
@import "_basic/mixin"; 
@import "_basic/etc";     
 
#wrap{width: 100%; height:100%; background-color: #cfa;}

@import "./_temp/slide_01";  
@import "./_temp/slide_02";       
@import "./_temp/slide_03";                  
@import "./_temp/slide_04";    
    