// _paul_viewBox.scss
#viewBox{position:relative; width: 100%; height: 100%; 
        background-color:lighten($sample, 20%);
 > h2{@include hidden;}
  .indicator{position: absolute; right:1.5rem; top: 0; bottom: 0; z-index:500;
   margin:auto; width: 150px; height: 130px; background-color:rgba($white, 0.4);
   >p{width:100%; height:70px; font-size:3rem; padding-bottom:10px; color:$white;
      text-align: center;
    >em{font-style: normal; font-weight: 900; 
      &:after{content:"/"}
    }// em    
    >span{font-size: 1.5rem; color:darken($white, 20%);}
   }// p
   
   .view_btn{width: 100%; height:auto; 
    >button{width:40%; height:40px; float: right; background-color:transparent; 
            font-size: 2rem; text-shadow:0.2rem 0.2rem 0.2rem rgba($black, 0.2);
        &:last-of-type{float:left;}
        &>span{@include hidden;}
        &:hover,&:focus{color:$primary;}
        &.action{color:$primary;}
      }// button
      }// .view_btn
      
      .fake_btn{position: absolute; width: 100%; height: 100%;
              bottom:0; cursor:pointer;}
   }// .indicator
   
  .slide_form{width: 100%; height: 100%; background-color:rgba($black, 0.2);
    >ul{width: 100%; height: 100%;
      >li{position:absolute; top:0; left:0; overflow: hidden;
          width: 100%; height: 100%; 
          font-size: 5rem; font-weight: 900; color:#fff;
          word-break: break-all; white-space: nowrap;
          text-shadow: 0.2rem 0.2rem 0.2rem rgba($black, 0.5);          
          box-sizing: border-box; /* padding:5vw;  */          
          background-repeat: no-repeat; background-position: 100% 50%;
          background-size: 150%;
          //transition:all 500ms ease;
        
          >dl{width: 100%; height: 50%; padding-top: 8vw;
           dt{opacity:0; font-size: 8rem; text-transform:capitalize;}
           dd{opacity:0; font-size: 1.3rem; text-shadow:none; margin:5rem 0;}  
           dd.link{text-transform:uppercase; text-decoration: underline;}
           
           &.action{
              %act{opacity:1; transform:translateY(-50px);}
              dt{@extend %act; transition:all 500ms ease 100ms;}
              dd.con{@extend %act; transition:all 500ms ease 300ms;}
              dd.link{@extend %act; transition:all 500ms ease  500ms;}
           }
          } // dl
          
        &:nth-child(1){background-color:darken($green, 20%);}
        &:nth-child(2){background-color:darken($green, 40%);}
        &:nth-child(3){background-color:darken($green, 60%);}
      }
    }
  }
}// #viewBox
