// _slide_02.scss
$count : 3; //광고배너 갯수 
$indiH :20px; //인디케이터 높이설정

#viewBox_02{position:relative; width:90%; min-width:1200px;
           height:100%; max-height:800px; min-height:600px; 
           margin:auto; margin-top:5rem; margin-bottom:20rem;
 > .slide_temp{width:100%; height:100%; background-color:#ffa;}
 .btn_area{position: absolute; z-index:500; bottom:2rem; left:50%; 
          margin-left:2rem; width:auto; height:$indiH; 
          padding:5px; border-radius:$indiH*2;
          background-color: $white; }
 .slide_02_form{width:100%; height:100%; overflow: hidden;
  > .guide {width:100% * $count; height:100%; 
      background-image:linear-gradient(45deg, $sample, $black);
   } // .guide
  }
}// #viewBox_02

.banner_area{float:left; position: relative; z-index:0;
            width:100% / $count; height:100%;
            overflow: hidden;
  &:before,
  &::before{content:" "; display:block; 
    position: absolute; z-index:-10; width: 70%; height: 150%;
    top: 0; left:50%; 
    background-image:linear-gradient(90deg, 
                                   rgba($blueGreen,1), 
                                   rgba($blueGreen,0) 60%);
   transition:all 300ms linear;}

  &.action:before,
  &.action::before{transform:rotate(-10deg);}

}
.slide2_{
  &01{background-color: #ddf;}
  &02{background-color: #ffd;}
  &03{background-color: #dfd;}
  }

#viewBox_02{
  .indicator{float: left; width:auto; height:100%; margin-right:2rem;
    >li{float:left; width:auto; height:$indiH; margin-right:1rem;
    >a{display: block; width:$indiH; height:$indiH;
       border-radius:$indiH; background-color:$gray;
       &.action{width:$indiH * 3; background-color: $primary;}
       &>span{  @include hidden; }
      }// a
    }// li
  }// .indicator
  .view_btn{float:right; position:static; width:auto; height:100%; 
    >button{display: none;}
    .play_btn{width: auto; height:$indiH;}
    .play_btn>button{float:left; width:$indiH; height:$indiH; 
                     background-color:$blueGreen; border-radius:100%;
        &>span{@include hidden;}
                    }
  }
}// #viewBox_02