@charset "UTF-8";
/* gcass_main_01_result.css */
/** Guide  data summary 
  * 
**/

#wrap{width: 980px; height: 850px;}
  .temp{position:relative; width: 100%; height:auto; padding-top:30px;}
  .temp:after{content:" "; display:block; width: 0; height: 0; clear:both;}



/* #headBox ----------------------------- */
    #headBox{ float:left; width: 250px; height:710px; 
      padding:50px 50px 100px 20px; box-sizing:border-box; background-color:#777;}
      h1{width: 100%; height: 110px;}
      h1>a{display:block; width:100%; height:100%;
          background-image: url("../../img/gcass/gcass_logo.png");
          background-repeat: no-repeat;
          background-position:50% 50%;}

    

    

    #gnb{width: 100%; height:auto; margin-top:35px;}
    #gnb>ul{width: 100%; height:auto;}
    #gnb>ul>li{width: 100%; height: 40px; margin-bottom:24px;}
    #gnb>ul>li:nth-last-child(2){margin-bottom: 10px;}
    #gnb>ul>li:last-child{height: 112px; margin-bottom: 0;}
    #gnb>ul>li>a{background-image: url("../../img/gcass/gnb.png");
                background-repeat: no-repeat;
                background-position-x: 10px;}

    #gnb>ul>li>a:hover,
    #gnb>ul>li>a:focus{background-image: url("../../img/gcass/gnb_on.png");
                      outline:none; }           
              
    #gnb>ul>li:nth-child(1) > a {background-position-y:2px;}
    #gnb>ul>li:nth-child(2) > a {background-position-y:-60px;}
    #gnb>ul>li:nth-child(3) > a {background-position-y:-122px;}
    #gnb>ul>li:nth-child(4) > a {background-position-y:-184px;}
    #gnb>ul>li:nth-child(5) > a {background-position-y:-246px;}
    #gnb>ul>li:nth-child(6) > a {background-position-y:-294px;}



/* #viewBox ==================================================== */
    #viewBox{float:right; width:730px; height:710px; 
      padding:50px; box-sizing: border-box;
      background-color: #adadad;
      background-image: url("../../img/gcass/view_pattern.png");  
      background-repeat:repeat-x; background-position: 0 -10px;}

      .view_link{float:right; width:610px; height:595px;}
      .view_link > a{position:relative;}
        .com_img{position:absolute; bottom:0; left:0; width: 330px; height: 520px;
                background-image: url("../../img/gcass/com_img.png"); 
                background-position: 0 0; background-repeat: no-repeat;              
               /* transition:all 300ms ease 500ms; */
                transition-property:left;
                transition-duration:500ms;
                transition-timing-function:cubic-bezier(0.29,-1.37, 0, 0.4);
                /* linear | ease | ease-in | ease-out | ease-in-out */
                /* transition-delay:500ms; */
                  }

/** transition, animation, js-animate 기능에서 
    시간에따른 흐름의 형태 파악하는 사이트 
      https://easings.net/
      https://cubic-bezier.com/ 
*/


        .view_link > a:hover .com_img{left:100px;}       

        .text_img{float:right; width: 353px; height: 554px;
                background-image: url("../../img/gcass/text_img.png"); 
                background-position: 0 0; background-repeat: no-repeat;}

/* #sideBox =================================================== */
  #sideBox{ position:absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 30px; background-color: #888;} 

  #sideBox:before{content:" "; display: block; 
        position:absolute; top: 0; left:50%; z-index:-100; margin-left:-50vw;
        width:100vw; height:100%; background-color:inherit;}        


    .lnb{float:right; width: 435px; height: 100%;/*  background-color:inherit; */}
    .lnb > li {float: left; width: 96px; height: 100%; background-color: #acc;}
    .lnb > li:last-child {width: 243px;}
    .lnb > li > a {display: block; width: 100%; height: 100%;
          background-image: url("../../img/gcass/subBox.png");
          background-position:0 0;
          background-repeat: no-repeat;}

    .lnb > li:nth-child(2) > a {background-position-x:-96px;}    
    .lnb > li:nth-child(3) > a {background-position-x:100%;}

/* #footBox ================================ */
  #footBox{position:relative; width: 100%; height:110px; 
    padding:15px 40px 25px; box-sizing:border-box; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size:0.75rem; line-height:120%; font-weight:normal; }

  #footBox:before{content:" "; display: block; 
                position:absolute; top:0; left:0; z-index:100; width: 100%; 
                border-top:1px solid #999;}

 #footBox>h2{float:left; width: 72px; height: 50px; margin-right: 46px; 
            background-image: url("../../img/gcass/footer_logo.png");
            background-repeat: no-repeat; background-position: 50% 50%; }

  .info{float:left; width: 70px; height: 50px; margin-right: 26px; 
        padding-top:15px; box-sizing: border-box;}
  .info > li {width: 45%; height: 100%; float: left;}
  .info > li:last-child {float:right;}
  .info > li > a {display:block; width: 100%; height: 100%;
              background-image: url("../../img/gcass/location_and_sns.png");
              background-repeat: no-repeat; background-position:5px 0;}
  .info > li:nth-child(2) > a{background-position-x:105%;}

  .info_company{float:left; width: 330px; height: 50px;}
    .info_company>p{font-style:normal;}

  .family_area{position:relative; float:right; width:300px; height:150px; 
    margin-top:-66px;}
  
    .family_area > dl {width: 100%; height:auto; 
                      font-size:1rem; text-indent:1rem;}
    .family_area > dl:after{
      content:" "; display: block; width: 0; height: 0; clear:both; }

    .family_area > dl > dt{position:relative; float: left; width: 96px; height: 50px;
                          background-color: #555; color:#fff;
                          letter-spacing:-0.1rem;}
    .family_area > dl > dd{position:relative; float: left; width:204px; height: 50px; 
                          background-color: #fff30d; color:#555;}

    .family_area > dl > dt:nth-of-type(1),
    .family_area > dl > dd:nth-of-type(1){height:51px;}

    .family_area > dl > dt:after{content:"\f0da"; display:block; position: absolute;
                          top:0; bottom:0; margin:auto; right:5px; 
                          /* font-family: 'Font Awesome 5 Free'; font-weight: 900;
                          text-indent:0.5rem; */
                          width:12px; height:12px; color:#fff; font-size:1rem;

                          background-image:url("../../img/gcass/family_arrow.png");
                          background-repeat:no-repeat;
                          background-position: 50% 50%;}

    .family_area > dl > dd>a{display: block; width: 100%; height: 100%;}
    .family_area dl span{display: block; position:absolute; top: 50%; left:0;
          transform:translateY(-50%); width: 100%; height:auto; 
          text-transform:uppercase;}
      
    .family_area > p {width: 100%; height: 20px; margin-top: 5px; text-align: right;}


/* 
  transform: 형태를 변형시키는 기능을 가지고있다.
            X, Y, Z축 모두 변형이 가능 
            translate() | rotate(?deg) | skew(?deg) | scale()
  transform-origin: 형태를 변형시킬때의 축을 설정하는 것
  perspective: transform사용된 부모요소에서 설정하는 것으로 원근법을 적용 체크
*/