/* join.css */

h1{text-align: center; font-size: 3rem; 
    border-bottom:1px solid #333;}
#joinBox{width:460px; height:auto; min-height:500px; 
        margin:3rem auto; background-color: #dfdfdf;}
#joinBox form{width: 100%; height:auto;}

.confirm_area{}
.confirm_area > button[type="submit"]{}
.confirm_area > p{color:#333;}
.confirm_area > p>em,
.confirm_area > p>strong{font-weight: bold; font-style:normal;}
.confirm_area > p > button{background-color:transparent;
      text-decoration:underline; color:inherit; font-size:inherit;}

#joinBox .terms{width: 100%; height:auto;}
#joinBox .terms>div{display:none;}

/* ==================================================== */
#footbox,
#footbox address,
#footbox address > p{width: 100%; height:auto; text-align:center;
          font-style:normal;}
#footbox address .part_01{text-transform:capitalize;}
#footbox address .part_02{text-transform:uppercase;}