/* login.css */
@import url("../../font/icomoon/style.css");

#wrap{background-color: #fdfdfd;}
h1{text-align: center; font-size: 3rem; 
   border-bottom:1px solid #000;}
#memberBox{width:578px; height:284px; margin: 3rem auto; }
/* ----------------------------- */
.sns_login{float:left; width:260px; height:284px; 
      border:1px solid #aaa; padding:18px 10px; box-sizing: border-box;}
.sns_login>h2{width: 100%; height:20px;
  font-size:1.25rem; text-align: center; color:#777;
  margin-bottom:12px;}   
.sns_login>ul{width: 146px; height: 42px; margin:auto;} 
.sns_login>ul>li{float:left; width:42px; height: 42px;
       margin-left:10px;}
.sns_login>ul>li:first-child{margin-left: 0;}

.sns_login>ul>li:first-child i{font-family: "icomoon"; font-style: normal;}
.sns_login>ul>li:first-child i:before{content:"\e900";}

.sns_login>ul>li>a{display: block; width: 100%; height: 100%;
                   text-align: center; line-height:1.2;}

.sns_login i{font-size: 2.5rem; color:#f06;}
.sns_login li:first-child i{font-size: 2.2rem;}

  
/* ----------------------------- */
.join{float:right; width:303px; height:284px;
      border:1px solid #aaa;padding:18px 25px; box-sizing: border-box;}