@charset "UTF-8";
/* rwd_test_02-1.result.css */
/** Guide  data summary 
- design 기준: 480px
@media screen and (max-width:479px) {}
- design 기준: 480px
@media screen and (min-width:480px)  a nd (max-width:767px) {}
- 디자인 기준 : 768px
@media screen and (min-width:768px)  and (max-width:959px){}
- design 기준: 960px 
@media screen and (min-width:960px) {}
**/
/* ==========================================================  */
/* 공통 */
#wrap{width: 100%; min-width:480px; height:auto; background-color: #acc;}
  #headBox{position:fixed; top:0; left:0; z-index:1000; width: 100%; height:60px; background-color: #777;}
  #contentBox{width: 100%; height:auto; padding-top:60px; background-color: #85a;}
    .view_area{width:100%; height:720px; background-color:#acf;}
    .tip_area{width:100%; height:720px; background-color:#a6f;}
    .info_area{width:100%; height:720px; background-color:#fcf;}

  #footBox {width: 100%; height: 60px; background-color: #333;}


/* - design 기준: 480px */
@media screen and (max-width:479px) {}

/* - design 기준: 480px */
@media screen and (min-width:480px)  and (max-width:767px) {}

/* - 디자인 기준 : 768px */
@media screen and (min-width:768px)  and (max-width:959px) {
    .view_area{height:450px;}
    .tip_area{height:210px;}
    .info_area{height:540px;}
    #footBox {height: 120px;}
}

/* - design 기준: 960px  */
@media screen and (min-width:960px) {
    #footBox {height: 120px;}
}

 