/* scroll_image.css */

#wrap{width: 100%; height:100%;}

h1{padding: 2rem; font-size: 4rem; text-align: center;}
h2{width: 80%; height:auto; margin:auto; border-top:1px solid #777;
  padding: 2rem; font-size:2.5rem; text-align:center;}
  
#viewBox{width:100%; min-width:1400px; height:auto; min-height:150%; margin:auto; 
        margin-bottom:3rem; }
        
.title{width: 100%;  height: auto; margin-bottom: 2rem;
       text-align: center; padding-top:1rem; line-height:0.9;
       letter-spacing:-0.1rem;}
  .title>h3{font-size:2rem;}
  .title>p{font-size:6.5rem; font-weight:900;}
.fix_img{width:70%; height:auto; min-height:350px; 
    margin:auto; margin-top:5rem; margin-bottom:5rem;
    background-color: #fa0;}
.fix_img ~ p{width: 66%; height:auto; margin:auto; 
          font-size:2.2rem; font-weight:800; letter-spacing:-0.1rem;
          color:#777; line-height:1.2;}

#sub_conBox{width:100%; min-width:1400px; height:auto; min-height:150%; margin:auto; 
        margin-bottom:3rem; padding-bottom: 30rem;}
.sub_title .title{width:70%; margin:auto; line-height:1.1;}        
.sub_title .title>h3{font-size:4.5rem; font-weight:900; 
                      text-align:left; color:#777;}        
.sub_title .title>p{font-size:4.5rem; font-weight:900; 
                      text-align:left;}
.sub_title .fix_img{ height:auto; min-height:800px;}       

#video_conBox{width:100%; min-width:1400px; height:auto; min-height:150%; margin:auto; 
        margin-bottom:3rem;  padding-bottom: 15rem;}
        
#graph_conBox{width:60%; min-width:1200px; height:auto; min-height:150%; 
              margin:auto; margin-bottom:3rem;
              box-sizing: border-box; padding:3rem 2rem;
              background-color:#f0f0f0;}
              
#graph_conBox .title{width: 100%; font-size:2.3rem; line-height:1.4;
              margin-bottom:8rem;}
#graph_conBox .title>p{font-size:inherit;}

.phisycs{width: 100%; height:auto;}
.base_model{width: 100%; height:25rem; margin-bottom:7rem;}
.base_model>h4{font-size:1.2rem; font-weight: bold;}

.check{float: left; width:70%; height:auto;}
.check>div{width: 100%; height: 7rem; margin-bottom: 5rem;}
.check>div:last-of-type{width: 100%; height: 10rem; margin-bottom:0;}
  .gr{width: 100%; height:1rem; border:1px solid #777;
      border-radius:1rem; margin:1rem 0;}
      
  .check>div>p{font-size:1.1rem; line-height:1.5; font-weight: bold;}
  .now{color:#000;}
  .before{color:#777;}
  
  .gage{width:0; height:100%; border-radius:1rem; transition:width 500ms linear;}
  .now .gage{width:100%; background-color: #000;}
  .before .gage{width:60%; background-color: #777;}
  
.result{float:right; width:20%; height:auto;}
.result>p{width:100%; text-align: center; letter-spacing:-0.15rem;}
.result>p>strong{font-size:6rem; font-weight: 900;}
.result>p>span{font-size: 1em; font-weight: bold;}

#os_conBox{width:70%; min-width:1400px; height:auto; min-height:30rem; margin:auto; 
        margin-bottom:30rem; background-color:#03a;
        text-align: center; box-sizing:border-box; 
        padding-top:8rem; padding-bottom: 8rem; 
        color:#fff;}
#os_conBox>h3{font-size:1.5rem; font-weight:200;}
#os_conBox>h3>em{font-style: normal; font-weight:500;}
#os_conBox>dl{width:70%; height:auto; margin:auto;
              margin-top:1rem; font-size:1.2rem; }
#os_conBox dt{font-size:2.5rem; font-weight:900; letter-spacing:-0.1rem;
              line-height:1.4; margin-bottom:1rem;}              
#os_conBox dd{font-size:1.2rem; font-weight: bold;}              
#os_conBox dd:last-of-type{margin-top:1rem;}              
#os_conBox dd:last-of-type>a{color:inherit; letter-spacing:-0.1rem;}              


