@charset "UTF-8";
/* css_basic_01.css */

.size_check{ width:100%; height:800px;  margin:auto; margin-bottom: 100px; background-color:#ccc;}

h3{margin: 0; padding: 1rem;  background-color: #fff;}

.size_check > p {  width:80%; min-width:400px;  max-width:700px; 
  height:auto; background-color:#0cc}

/* 
  단위: 1cm => 10mm => x
  임의 단위는 있다.(http://www.endmemo.com/sconvert/millimeterpixel.php)

  최초의 기본설정에서 ( 16px = 12pt = 100% = 1em = 1rem )
*/

/* ---------------- */


.size_check > ul{margin:0; padding:0;
  width:100%; height:300px; background-color: #fa0;}
.size_check > ul > li{float:left; width:50px; height:50px; 
  border-width:5px; border-style:solid; border-color:#333;
  text-align:center; line-height:50px; list-style:none;}

/* 
display:속성은 형태를 변형처리할때 사용.
        block(크기를 가짐, 아래로 쌓인다) || inline(옆으로 나열, 크기를 가질 수 없다) || inline-block(크기와 옆으로 나열, 알 수 없는 공백)
        none(강제로 사라지게 만드는 기능-존재도 없게 만드는 기능)

float: 옆으로 나열하게 만드는 기능, inline요소일 경우 float을 사용하면 강제로 block 요소로 변경
       left(부모의 크기를 기준으로 왼쪽부터 정렬) || right(부모의 크기를 기준으로 오른쪽부터 정렬)

visibility: display속성과 유사한 기능을 가지고 있다. 하지만 기본 2가지의 속성을 가진다.
            visible(display:block과 같은 보여지게 만드는 기능) || hidden(display:none과같은 사라지는 기능-display와 다른점은 위치하던 자리는 그대로 남아있다)
*/

.size_check > ul > li:first-child {background-color:#F07;}
.size_check > ul > li:nth-child(2) {display:none; background-color:#afa;}
.size_check > ul > li:nth-child(3) {background-color:#f6f;}
.size_check > ul > li:nth-child(4) {background-color:#777;}
.size_check > ul > li:nth-child(5) {visibility:hidden; background-color:#777;}


.over {width: 80%; min-width:500px; height:auto; 
     background-color:#0df; padding:1rem; box-sizing:border-box;}

.over > p {margin:auto; margin-bottom:400px;  
        width:450px; height:200px; border-width:2px; border-style:solid; border-color:#fa0;}

.one {overflow:scroll;}
.two {overflow:hidden;}
.three {overflow:auto;}
.four {overflow:scroll;}
.five {overflow:auto; overflow-x:hidden;}

.six { overflow:hidden;}
.six >span{ padding-right:20px; display:block;  overflow:hidden; overflow-y:auto; 
            width:100%; height:100%; background-color: #fff;}

/* 
overflow: 지정된 크기를 기준으로 내부의 영역이 넘친다면, 어떻게 처리할 것인가를 판단하는 내용
          hidden(넘칠때 숨기는기능) || visible(기본형, 넘칠때 보이게 만드는기능) || auto || scroll
*/

.over > .seven {height:30px; white-space:nowrap;  
                text-overflow: ellipsis; overflow:hidden; }

/* 
white-space: 임의 공백이아닌, 의도하지 않은 공백을 처리하는 방법
             pre(실제 코드에서 작성한 형태대로 공백을 주어라)  || pre-line(실제 코드에서 작성한 줄바꿈처리와 동일하게 해라) ||nowrap(여백을 모두 삭제)  || unset(기본, 크기에 맞게 줄바꿈 처리) ...
text-overflow: overflow와 유사하지만, 넘치는영역이 글자일 경우에 처리방법, 대체로 overflow와 함께 사용
             ellipsis(넘칠경우 말줄임표를 처리)  ||  unset(기본형으로 처리)
*/