@charset "UTF-8";
/* layout_03_nhc_go_kr.css */

/** 천연기념물센터  data summary 
  * 
**/
/* common */
.clearfix:after,
.clearfix::after {content:" "; display: block; clear:both; width: 0; height: 0; }

.hidden {display: block; overflow: hidden; position: absolute; width: 0; height: 0; }

/* layout */
/*  #wrap================================================ */
#wrap {width:100%; min-width:1200px; height:auto; margin:auto;}

/*  #headBox================================================ */
#headBox{width:100%; height:auto;}
  .unb_area{width: 100%; height:auto; background-color: #aaa;}
    .unb{float:right; width: 350px; height: 40px; padding:0 65px; box-sizing:border-box;
      background-color: #fac;}
  .banner_area{position:relative; width: 100%; height: 80px; background-color: #fff;}
    h1{float:left; width: 280px; height: 80px; background-color: #fac;}
    #gnb{position:absolute; top:0; left:0; right:0; margin:auto;
      width: 950px; height: 80px; background-color: #0ac;}
    .site_map{float:right; width: 240px; height: 80px; background-color: #caf;}

/*  #conBox================================================ */
#conBox{width:100%; height:auto;}
  .view_area {width: 100%; height: 855px; background-color:#ccc}

  .con_area {width: 100%; padding-top:45px; box-sizing:border-box;}
  .con_area>h2 {width:100%; height:60px; margin-bottom:17px; 
      background-color:rgba(255, 255, 255, 0.7);
      text-align: center; font-size:60px; line-height:60px; }
  .con_area>p{width: 100%; height: 28px; background-color:rgba(255,255,255,0.3);
      text-align: center; font-size:24px; line-height:28px; }

  .news_area { height: 895px;  background-color:#999}
    .news_area > .content {width:1200px; height:650px; margin:auto; margin-top: 30px;
      background-color:#fac;}

  .media_area {height: 850px; background-color:#ccc}
    .media_area> .media {width:950px; height:530px; margin:auto; margin-top: 30px;
      background-color:#fac;}

  .counter_area {height: 710px; background-color:#777;}
    .counter_area > .content {width:1100px; height:390px; margin:auto; margin-top: 80px;
      background-color:#fac;}

  /*  #footBox================================================ */
#footBox{width:100%; height:auto; 
        padding-top: 20px; padding-bottom: 60px; box-sizing: border-box;
        background-color:#555;}
#footBox > .content{width: 1200px; height: 90px; margin:auto; background-color: #fac;}

