@charset "UTF-8";
/* layout_03_nhc_go_kr.css */

/** 천연기념물센터  data summary 
  * position사용시 가운데 배치하는 방법:
    방법 1-1. margin:auto; top:0; bottom:0;   => 위,아래 가운데
    방법 1-2. margin:auto; left:0; right:0;   => 좌,우 가운데

    방법 2-1. (높이값이 정해져 있을경우) top:50%; margin-top: -높이값의 절반크기;  => 위,아래 가운데
    방법 2-2. (가로값이 정해져 있을경우) left:50%; margin-left: -가로값의 절반크기;  => 좌,우 가운데

    방법 3-1. (최신브라우저일경우) top:50%; transform:translateY(-50%); => 위,아래 가운데
    방법 3-2. (최신브라우저일경우) left:50%; transform:translateX(-50%); => 좌,우 가운데
**/


/* common */
.clearfix:after,
.clearfix::after {content:" "; display: block; clear:both; width: 0; height: 0; }

.hidden {display: block; overflow: hidden; position: absolute; width: 0; height: 0; }

/* layout */
/*  #wrap================================================ */
#wrap {width:100%; min-width:1200px; height:auto; margin:auto;}

/*  #headBox================================================ */
#headBox{position:relative; width:100%; height:auto; padding-top:40px;}
  
  .banner_area{position:relative; width: 100%; height: 80px; background-color: #fff;}
    h1{float:left; width: 280px; height: 80px; background-color: #fac;}
    #gnb{position:absolute; top:0; left:0; right:0; margin:auto;
      width: 950px; height: 80px; background-color: #0ac;}
    .site_map{float:right; width: 240px; height: 80px; background-color: #caf;}

  .unb_area{position:absolute; top:0; left:0; width: 100%; height:auto; background-color: #aaa;}
    .unb{float:right; width: 350px; height: 40px; padding:0 65px; box-sizing:border-box;
      background-color: #fac;}

 

/*  #conBox================================================ */
#conBox{width:100%; height:auto;}

  .page_scroll {position:fixed; margin:auto; top:0; bottom:0; right:20px; z-index:500;
              width: 40px; height: 230px; background-color: rgba(0,0,0,0.7);}
  .page_scroll >ul{margin:auto; padding-top:5px; width: 20px; height: 148px; background-color: #07f;}
  .page_scroll >ul >li{width: 20px; height: 20px; margin-bottom:20px;}
  .page_scroll >ul >li:last-child{margin-bottom: 0;}
  .page_scroll >ul >li >a{display:block; width:100%; height:100%; border:2px solid #fff; box-sizing:border-box;
                        border-radius:100%;}


  .page_scroll:after{content:" "; display:block; position: absolute; left:0; right:0; margin:auto;
                    width:20px; height:55px; border-radius:5px; border:2px solid #fff;
                    animation:mouseMv 700ms linear alternate infinite;}
                    
  @keyframes mouseMv {    0% {bottom:10px;}    100% {bottom:0; }   }                    

  .view_area {width: 100%; height: 855px; background-color:#ccc}

  .con_area {width: 100%; padding-top:45px; box-sizing:border-box;}
  .con_area>h3 {width:100%; height:60px; margin-bottom:17px; 
      background-color:rgba(255, 255, 255, 0.7);
      text-align: center; font-size:60px; line-height:60px; }
  .con_area>p{width: 100%; height: 28px; background-color:rgba(255,255,255,0.3);
      text-align: center; font-size:24px; line-height:28px; }

  .news_area { height: 895px;  background-color:#999}
    .news_area > .content {width:1200px; height:650px; margin:auto; margin-top: 30px;
      background-color:#fac;}

  .media_area {height: 850px; background-color:#ccc}
    .media_area> .media {width:950px; height:530px; margin:auto; margin-top: 30px;
      background-color:#fac;}

  .counter_area {height: 710px; background-color:#777;}
    .counter_area > .content {width:1100px; height:390px; margin:auto; margin-top: 80px;
      background-color:#fac;}

  .top_button{position:fixed; right:20px; bottom:50px; z-index: 500;
              width:54px; height: 54px; border:3px solid #555; box-sizing:border-box;
              background-color: #faa; }
  .top_button > a {display: block; width: 100%; height: 100%;}

  /*  #footBox================================================ */
#footBox{width:100%; height:auto; 
        padding-top: 20px; padding-bottom: 60px; 
        background-color:#555;}
#footBox > .content{width: 1200px; height: 90px; margin:auto; background-color: #fac;}
