@charset "UTF-8";
/* layout_basic_02_result.css */

/* reset.css ================ */
html,body,
h1,h2,h3,h4,h5,h6,hr,
ul,ol,li, dl, dt,dd{margin:0; padding:0; border:0;}
hr{border-top:1px solid #333;}
ul,ol,li{list-style:none;}
main, header,nav, aside, article, section, footer, content {display:block;}

/* common.css =================== */
.clearfix:after, .clearfix::after {
  content:" "; display:block; width: 0; height: 0; clear:both;}

.hidden {width:0; height:0; position:absolute; overflow:hidden;}



/* design =================== */
#wrap { margin:0 auto; width: 960px; height:auto;}

/* #headBox __________________________________________  */
#headBox {padding:10px; box-sizing:border-box; 
          width:100%; height:120px; background-color:#f4f;}
h1{width:150px; height:100px; background-color:#fff; float:left;
  font-size:1rem;}
h1>a{width: 100%; height: 100%; color:#0af; display: block;}

.nav_area{width:500px; height:100px; float:right;}
#unb{width: 220px; height: 40px; background-color: #fff;
    margin-bottom: 10px; float:right;}
#gnb{width: 500px; height: 50px; background-color: #fff; float:right;}

/* #viewBox __________________________________________  */
#viewBox {width:100%; height:450px; background-color:#f80;}

/* #contentBox __________________________________________  */
#contentBox {width:100%; height:500px; }
  .lnb_side {width:200px; height:500px; background-color: #25e; float:left;}

    .lnb_side ul{width: 100%; height: 100%; background-color: #ff0; 
      padding-top:20px; padding-left:10px; padding-right:10px; box-sizing:border-box;}
    .lnb_side li{width: 100%; height: 100px; background-color: #d5e; margin-top:20px;}
    .lnb_side li:first-child{margin-top:0;}

  .lnb_list {width:760px; height: 200px; background-color: #2c0; float:left;}
  .lnb_content {width:760px; height: 300px; float:left;}
    .con_01{width:50%; height:100%; float:left; background-color: #c83;}
    .con_02{width:50%; height:100%; float:left; background-color: #c43;}

/* #footBox __________________________________________  */
#footBox {width:100%; height:130px; background-color:#777;}


