@charset "UTF-8";
/* reset_test.css */

/* 
reset css: 브라우저 세팅(css) 초기화
 모든 브라우저는 각각의 브라우저마다 해당하는 요소의 기본값이 조금씩 다르다.
 그렇기에 원하는 형태로 제작하기 위한 CSS를 처리하기위해 기본 세팅을 주어야 한다.
common css: 공통의 자주 사용하는 기능을 요약하여 별도의 파일로 만들어서 사용하는 기능
normalise css: reset CSS + common CSS
 */

 /* 1. body, html ...... */
 html,body{margin:0; padding:0; width:100%; height:100%; color:#333;
          font-family:"gyeonggi", "Gothic A1", sans-serif;}
 h1,h2,h3,h4,h5,h6, 
 ul,li,ol,dl,dt,dd,
 p,pre,img{margin: 0; padding: 0; border:0;} 
 ul,ol,li{list-style:none;}
 table, thead, tbody, tfoot, tr, th, td{ margin:0; padding:0; border-spacing:0; 
                                      border-collapse:collapse; border:1px solid #777;}
                                      
a{color:#777; text-decoration:none;}
a:hover{color:#f07;}
a:focus{outline:2px solid #f06;}
abbr{text-decoration:none; text-transform:uppercase;} 
button{border:0; cursor:pointer; background-color:transparent; border:1px solid #f06;}
button:hover{background-color:#fa0;}
button:focus{outline:2px solid #f06;}

hr{margin:0; padding:0; border-bottom:1px solid #f06;} 

/* html5 ======================================================================  */
main, header, footer, aside, nav, section, article, figure, figcaption{
  display:block; margin:0; padding:0;}

/* form ======================================================================  */
form, fieldset, legend{margin:0; padding:0; border:0;}
legend{position:absolute; width:0; height:0; overflow:hidden;}
input{box-sizing:border-box; text-indent:0.5rem; cursor: pointer;}
button{border:0; background-color:#07f; color:#fff; cursor:pointer;}
select, text-area{box-sizing:border-box;}
