@charset "UTF-8";
/* reset.css */

 /* 1. body, html ...... */
 html,body{width:100%; height:100%;
  margin:0; padding:0; color:#333; font-family:"noto sans", "Gothic A1", sans-serif;}
 h1,h2,h3,h4,h5,h6, ul,li,ol,dl,dt,dd, p,pre,img{margin: 0; padding: 0; border:0;} 
 ul,ol,li{list-style:none;}
 table, thead, tbody, tfoot, tr, th, td{ margin:0; padding:0; border-spacing:0; 
  border-collapse:collapse; border:1px solid #777;}
                                      
a{color:#777; text-decoration:none;}
a:hover{color:#f07;}
a:focus{outline:2px solid #f06;}
abbr{text-decoration:none; text-transform:uppercase;} 
button{border:0; cursor:pointer; background-color:transparent; border:1px solid #f06;}
button:hover{background-color:#fa0;}
button:focus{outline:2px solid #f06;}

hr{margin:0; padding:0; border-bottom:1px solid #f06;} 

/* html5 ======================================================================  */
main, header, footer, aside, nav, section, article, figure, figcaption{display:block;}

/* form ======================================================================  */
form, fieldset, legend{margin:0; padding:0; border:0;}
legend{position:absolute; width:0; height:0; overflow:hidden;}
input{box-sizing:border-box; text-indent:0.5rem; cursor: pointer;}


button{border:0; background-color:#07f; color:#fff; cursor:pointer;}
select, text-area{box-sizing:border-box;}

input[type="text"]:hover,   input[type="password"]:hover,
input[type="search"]:hover, input[type="url"]:hover,
input[type="email"]:hover,  input[type="tel"]:hover,
text-area:hover, select:hover { background-color: #fdc;}

input[type="text"]:focus,   input[type="password"]:focus,
input[type="search"]:focus, input[type="url"]:focus,
input[type="email"]:focus,  input[type="tel"]:focus,
text-area:focus, select:focus { background-color: #fcd;}