@charset "UTF-8";
/* accordion_V.css */
/* ========================================= */
#gnb{position: relative; z-index:500;
  width: 900px; height: 40px; margin:auto; background-color: #ccc;}
#gnb>h2{width: 0; height: 0; overflow: hidden;}
#gnb>ul{width: 100%; height:40px; background-color: #ccf;}
#gnb>ul:after{content:" "; display: block; clear:both;}
#gnb>ul>li{float:left; width:10%; height:auto; margin-right:1%; background-color:#9cf;}


#gnb>ul ul{display:none; width: 100%; height:auto; }
#gnb>ul ul>li{width: 100%; height:auto; border-bottom:1px solid #777;}

#gnb a{display:block; width: 100%; height:40px;}
#gnb a:hover{background-color: #0cf;}
#gnb a:focus{background-color: #fcf;}

/* #gnb:hover>ul ul{display:block;} */
/* #gnb>ul>li:hover ul{display:block;} */
/* #gnb>ul>li>a:focus + ul{display:block;} */

/* ========================================= */
#contentBox{display: none;}
.accordion_menu_v {display:none; width: 800px; height:auto; margin:auto; background-color: #ddd; padding:0.5rem;
                  box-shadow:0.3rem 0.3rem 0.3rem rgba(0,0,0,0.5); border-radius:0.3rem;}
.accordion_menu_v > dl{width: 100%; height:auto;}
 .accordion_menu_v > dl > dt{width: 100%; height: 2.5rem; background-color: #07f; color:#fff;
                            text-indent:1rem; border-bottom:1px solid #039;
                            font-size:1.3rem; font-weight: bold;}
 .accordion_menu_v > dl > dt:hover{background-color: #70f;}

 .accordion_menu_v > dl > dd{display:none; width: 100%; height:auto; background-color: #cdf;box-sizing:border-box;
                          padding: 1rem;}

 .accordion_menu_v > dl > dt > a.action { background-color:#578;}