/* nhc_main_content.css */


/*  #conBox================================================ */
#conBox{width:100%; height:auto;}

  .page_scroll {position:fixed; margin:auto; top:0; bottom:0; right:20px; z-index:500;
              width: 40px; height: 230px; background-color: rgba(0,0,0,0.7);}
  .page_scroll >ul{margin:auto; padding-top:5px; width: 20px; height: 148px; background-color: #07f;}
  .page_scroll >ul >li{width: 20px; height: 20px; margin-bottom:20px;}
  .page_scroll >ul >li:last-child{margin-bottom: 0;}
  .page_scroll >ul >li >a{display:block; width:100%; height:100%; border:2px solid #fff; box-sizing:border-box;
                        border-radius:100%;}


  .page_scroll:after{content:" "; display:block; position: absolute; left:0; right:0; margin:auto;
                    width:20px; height:55px; border-radius:5px; border:2px solid #fff;
                    animation:mouseMv 700ms linear alternate infinite;}
                    
  @keyframes mouseMv {    0% {bottom:10px;}    100% {bottom:0; }   }                    

/* part 별 공통영역 처리 사항 */
  .con_area {width: 100%; padding-top:45px; box-sizing:border-box;}
  .con_area>h3 {width:100%; height:60px; margin-bottom:17px; 
      background-color:rgba(255, 255, 255, 0.7);
      text-align: center; font-size:60px; line-height:60px; }
  .con_area>p{width: 100%; height: 28px; background-color:rgba(255,255,255,0.3);
      text-align: center; font-size:24px; line-height:28px; }


/*  .view_area  =======================================  */
  .view_area {position:relative; width: 100%; height: 855px; background-color:#ccc}
    .indicator{position:absolute; z-index:300; left:0; right:0; margin:auto; bottom:65px; 
               width: 866px; height: 70px;}

      .indicator > ul > li{width:140px; margin-right:4px; 
                           line-height:70px; color:#fff; background-color: #333;
                           padding:2px; box-sizing:border-box; }
      .indicator a{color:inherit;}

    .arrow_btn {position:absolute; z-index:300; top:40%; width:140px; height:100px;}           
    .next_btn{right:10%;}
    .prev_btn{left:10%;}
    .arrow_btn > button {width: 100%; height: 100%; background-color:transparent; font-size:5rem;}
    .arrow_btn > button:focus{color:#f06; text-shadow:0.2rem 0.2rem 0.2rem rgba(0,0,0,0.7);}
    .arrow_btn > button:hover{color:#fa0;}

    .view_zone{position:relative; width:100%; height:100%; background-color: #474;}
    .view_zone > p {position:absolute; top:0; bottom:0; left:0; right:0;
      width:50%; min-width:900px; height:130px; margin:auto;
      text-align:center; font-size:54px; font-size:3.375rem; color:#fff;
      /* 16px == 100% == 12px == 1em == 1rem */ }
      .view_zone > p > em {font-style:normal; font-weight:bold; font-size:3.5rem;}

/* .news_area =================================================== */
  .news_area { height: 895px;  background-color:#999}
    .news_area > .content {width:1200px; height:650px; margin:auto; margin-top: 30px;
      background-color:#fac;}

      .center_info{width:100%; height:330px; margin-bottom:40px; background-color:rgba(0,0,0,0.3);}
      .center_info > div{float:left; width:280px; height:100%; margin-right:30px; background-color: #aca;}
      .center_info > .info_board_01{position:relative; width:580px;}
      .center_info > .info_board_03{margin-right:0;}

      /* ********************************************************  */
        .info_board_01 > h5{float:left; margin-right:2px; width: 120px; height: 40px; 
                            background-color: #fff; text-align: center; line-height:40px;}
        .info_board_01 > h5.action {background-color: #f55; color:#fff; font-weight:bold;}

        .info_board_01 > .info_01_con{display:none; position:absolute; left:0; bottom:0; 
                            width:100%; height:260px;}
        .info_board_01 > .info_01_con.action {display:block;}

        .con_01{background-color: #aff;}
        .con_02{background-color: #ffa;}
        
        .info_01_con > ul{width: 100%; height: 100%;}
        .info_01_con > ul > li {width: 100%; height:70px; margin-bottom:20px;}
        .info_01_con > ul > li > p {float: left; width: 80px; height: 100%; 
            background-color: #fa0; text-align: center; color:#fff;
            padding:10px; box-sizing: border-box;}
        .info_01_con > ul > li > p .big{font-weight: bold; font-size: 1.3rem;}

        .info_01_con > ul > li > dl {float:right; width: 490px; height: 100%;}

        .info_01_con > ul > li > dl > dt {width: 100%; height:20px; margin-bottom: 6px;  
          font-size: 1rem; font-weight: bold; 
          overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
        .info_01_con > ul > li > dl > dd {width: 100%; height:auto; color:#777;
          font-size:0.80rem; font-size:12px; line-height:120%;}

      /* ********************************************************  */

      .title_zone {width:100%; height:44px; margin-bottom:6px; background-color: #fff;}
      .title_zone > h5 {float:left; height:100%; line-height:44px; font-size:24px; font-size:1.5rem;}
      .title_zone > .popup_indicator {float:right; width:100px; 
        height:100%; background-color: #ccc;
        line-height:44px; font-size:16px; font-size:1rem;}

      .content_zone {width:100%; height:280px; background-color:#fff;}

      .program_guide{width:100%; height:280px; background-color:rgba(0,0,0,0.3);}       
        .program_guide > ul > li {width: 280px; margin-right:26px;}

        .program_guide > ul > li a{position:relative; padding:40px; box-sizing:border-box; 
          color:#fff; background-color: #07a; }

        .program_guide > ul > li a:after,
        .program_guide > ul > li a::after {content:" "; display:block; 
          position:absolute;  top: 0; left: 0; border:0 solid #039;
          width: 100%; height: 100%; box-sizing: border-box;
          transition:border 300ms ease;}

        .program_guide > ul > li a:hover:after{border-width:30px;}

        .program_guide .icon {width: 100%; height: 64px; margin-bottom: 10px; 
            font-size:64px; font-size: 4rem; line-height: 64px;}
        .program_guide dl {width: 100%; height:auto;}
        .program_guide dl dt {width: 100%; height: 28px; margin-bottom: 16px;
            font-size:16px; font-size: 1.625rem; font-weight:bold; line-height:28px;}
        .program_guide dl dd {width: 100%; height:auto; font-size:14px; 
              letter-spacing:-0.0825rem; letter-spacing:-1.5px;  /* word-spacing:-5px; */}

        
/* .media_area =================================================== */
  .media_area {height: 850px; background-color:#ccc}
    .media_area> .media {width:950px; height:530px; margin:auto; margin-top: 30px;
      background-color:#fac;}

/*   .counter_area ============================================ */
  .counter_area {height: 710px; background-color:#777;}
    .counter_area > .content {width:1100px; height:390px; 
      margin:auto; margin-top: 80px; background-color:#fac;}
      .counter_area >.content > ul{width: 100%; height: 100%;}
      .counter_area >.content > ul > li{float: left; width:215px; height: 100%; margin-right:80px; background-color: #fff;}
      .counter_area >.content > ul > li:last-child{margin-right:0;}

      .gage{width: 215px; height: 215px; background-color: #ccc; margin-bottom:20px;}
      .gage + dl{width:215px; height:150px; background-color:#adf;}
      /* .gage ~ dl{}  */
      /* .gage의 동생 dl을 선택: 
         이때 dl은 동생중의 순서는 상관 없다. */

/*  ================================================ */
  .top_button{position:fixed; right:20px; bottom:50px; z-index: 500;
              width:54px; height: 54px; border:3px solid #555; box-sizing:border-box;
              background-color: #faa; }
  .top_button > a {display: block; width: 100%; height: 100%;}


