/* nhc_02_header.css */

/*  #headBox================================================ */
#headBox{position:relative; width:100%; height:auto; padding-top:40px;}
  
  .banner_area{position:relative; width: 100%; height: 80px; background-color: #fff;}
    h1{float:left; width: 280px; height: 80px; background-color: #fac;}
    #gnb{position:absolute; top:0; left:0; right:0; margin:auto;
      width: 950px; height: 80px; background-color: #0ac;}
    #gnb > ul {width:100%; height:100%;}
    #gnb > ul > li {float:left; height:100%; margin-right:50px;}
    #gnb > ul > li:last-child {margin-right:0;}

    #gnb > ul > li:nth-child(1){width:130px;}
    #gnb > ul > li:nth-child(2){width:90px;}
    #gnb > ul > li:nth-child(3){width:120px;}
    #gnb > ul > li:nth-child(4){width:130px;}
    #gnb > ul > li:nth-child(5){width:100px;}
    #gnb > ul > li:nth-child(6){width:130px;}

    #gnb > ul > li > a{display:block; width:100%; height:100%; box-sizing:border-box;
      text-align: center; color:#fff; line-height:80px; background-color: #356;}

    .site_map{float:right; width: 240px; height: 80px; background-color: #caf;}

  .unb_area{position:absolute; top:0; left:0; width: 100%; height:auto; background-color: #aaa;}
    .unb{float:right; width: 350px; height: 40px; padding:0 20px; box-sizing:border-box;
      background-color: #fac;}
      .sns{float:left; width:34px; height:40px;}
      .sns > a {display:block; height: 100%; font-size: 2rem; line-height: 40px; color:#05a;}

      .unb_list{float:right; width:260px; height:40px; background-color: #fff;}
 
