@charset "UTF-8";
/* main.css */
/* 
@include horizontal_slide_banner('.my_banner',4){
  $url:'../img/mybanner/';
  $imgName:'mybanner_';
  $count : 4;
  @include  horizon_banner_img($count, $imgName, $url:$url, $file:'png');
  // 기타 div 및 하위  내용을 삽입
} 
*/
#wrap { width: 100%; height: 100%; background-color: #cfa; }

.slide_temp { position: relative; width: 90%; height: 600px; min-width: 1200px; margin: auto; border: 1px solid #333; background-color: #fa0; }

.view_btn { position: absolute; z-index: 500; top: 50%; width: 100%; height: 0; }

.view_btn > button { width: 100px; height: 100px; background-color: #333; float: left; transform: translateY(-50%); }

.view_btn > button.next { float: right; }

.view_btn > button:hover, .view_btn > button:focus { background-color: #f06; }

.view_indicator { position: absolute; z-index: 500; left: 50%; bottom: 30px; transform: translateX(-50%); width: auto; min-width: 135px; height: 30px; background-color: #fff; padding: 5px; border-radius: 30px; }

.view_indicator > ul { width: 100%; height: 100%; }

.view_indicator > ul > li { float: left; width: auto; height: 30px; margin-left: 5px; }

.view_indicator > ul > li:first-child { margin-left: 0; }

.view_indicator > ul a { display: block; width: 30px; height: 100%; background-color: #ccc; border-radius: 30px; transition: all 300ms ease; }

.view_indicator > ul a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.view_indicator > ul a:hover { background-color: #ff99c2; }

.view_indicator > ul a.action, .view_indicator > ul a:focus { background-color: #f06; width: 90px; }

.view_indicator > ul a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.slide_form { width: 100%; height: 100%; overflow: hidden; }

.slide_form .guide { width: 400%; height: 100%; background-color: #fa0; }

.slide_form .guide > div { float: left; width: 25%; height: 100%; padding: 4rem; box-sizing: border-box; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

.slide_form .guide > div:nth-of-type(1) { background-image: url("../img/slide_01/mySlideImage_01.jpg"); }

.slide_form .guide > div:nth-of-type(2) { background-image: url("../img/slide_01/mySlideImage_02.jpg"); }

.slide_form .guide > div:nth-of-type(3) { background-image: url("../img/slide_01/mySlideImage_03.jpg"); }

.slide_form .guide > div:nth-of-type(4) { background-image: url("../img/slide_01/mySlideImage_04.jpg"); }

.slide_form .guide > div h3 { font-size: 4rem; color: #fff; font-weight: bold; }

.slide_form .guide > div p { font-size: 1.2rem; color: #fff; font-weight: bold; margin-bottom: 1rem; }

.slide_form .guide > div .link_btn { width: 260px; height: 50px; margin-left: 5rem; padding: 0.2rem; line-height: 50px; text-align: center; background-color: #f06; border-radius: 40px; }

.slide_form .guide > div .link_btn > a { display: block; width: 100%; height: 100%; color: #fff; font-weight: 900; font-size: 1.3rem; background-color: #f06; border-radius: 40px; }

.slide_form .guide > div .link_btn > a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.slide_form .guide > div .link_btn > a:hover, .slide_form .guide > div .link_btn > a:focus { background-color: #333; }

#viewBox_02 { position: relative; width: 90%; min-width: 1200px; height: 100%; max-height: 800px; min-height: 600px; margin: auto; margin-top: 5rem; margin-bottom: 20rem; }

#viewBox_02 > .slide_temp { width: 100%; height: 100%; background-color: #ffa; }

#viewBox_02 .btn_area { position: absolute; z-index: 500; bottom: 2rem; left: 50%; margin-left: 2rem; width: auto; height: 20px; padding: 5px; border-radius: 40px; background-color: #fff; }

#viewBox_02 .slide_02_form { width: 100%; height: 100%; overflow: hidden; }

#viewBox_02 .slide_02_form > .guide { width: 300%; height: 100%; background-image: linear-gradient(45deg, #fa0, #333); }

.banner_area { float: left; position: relative; z-index: 0; width: 33.33333%; height: 100%; overflow: hidden; }

.banner_area:before, .banner_area::before { content: " "; display: block; position: absolute; z-index: -10; width: 70%; height: 150%; top: 0; left: 50%; background-image: linear-gradient(90deg, #00cc99, rgba(0, 204, 153, 0) 60%); transition: all 300ms linear; }

.banner_area.action:before, .banner_area.action::before { transform: rotate(-10deg); }

.slide2_01 { background-color: #ddf; }

.slide2_02 { background-color: #ffd; }

.slide2_03 { background-color: #dfd; }

#viewBox_02 .indicator { float: left; width: auto; height: 100%; margin-right: 2rem; }

#viewBox_02 .indicator > li { float: left; width: auto; height: 20px; margin-right: 1rem; }

#viewBox_02 .indicator > li > a { display: block; width: 20px; height: 20px; border-radius: 20px; background-color: #ccc; }

#viewBox_02 .indicator > li > a.action { width: 60px; background-color: #f06; }

#viewBox_02 .indicator > li > a > span { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

#viewBox_02 .view_btn { float: right; position: static; width: auto; height: 100%; }

#viewBox_02 .view_btn > button { display: none; }

#viewBox_02 .view_btn .play_btn { width: auto; height: 20px; }

#viewBox_02 .view_btn .play_btn > button { float: left; width: 20px; height: 20px; background-color: #0c9; }

#viewBox_02 .view_btn .play_btn > button > span { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }
