@charset "UTF-8";
/* 
@include horizontal_slide_banner('.my_banner',4){
  $url:'../img/mybanner/';
  $imgName:'mybanner_';
  $count : 4;
  @include  horizon_banner_img($count, $imgName, $url:$url, $file:'png');
  // 기타 div 및 하위  내용을 삽입
} 
*/
#wrap { width: 100%; height: 100%; background-color: #fa0; }

#conBox2 { width: 100%; height: 100%; background-color: #996600; }

#conBox3 { width: 100%; height: 100%; background-color: black; }

#footBox { width: 100%; height: 100%; background-color: #fa0; }

#headBox { display: none; }

#viewBox { position: relative; width: 100%; height: 100%; background-color: #ffcc66; }

#viewBox > h2 { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

#viewBox .indicator { position: absolute; right: 1.5rem; top: 0; bottom: 0; z-index: 500; margin: auto; width: 150px; height: 130px; background-color: rgba(255, 255, 255, 0.4); }

#viewBox .indicator > p { width: 100%; height: 70px; font-size: 3rem; padding-bottom: 10px; color: #fff; text-align: center; }

#viewBox .indicator > p > em { font-style: normal; font-weight: 900; }

#viewBox .indicator > p > em:after { content: "/"; }

#viewBox .indicator > p > span { font-size: 1.5rem; color: #cccccc; }

#viewBox .indicator .view_btn { width: 100%; height: auto; }

#viewBox .indicator .view_btn > button { width: 40%; height: 40px; float: right; background-color: transparent; font-size: 2rem; text-shadow: 0.2rem 0.2rem 0.2rem rgba(51, 51, 51, 0.2); }

#viewBox .indicator .view_btn > button:last-of-type { float: left; }

#viewBox .indicator .view_btn > button > span { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

#viewBox .indicator .view_btn > button:hover, #viewBox .indicator .view_btn > button:focus { color: #f06; }

#viewBox .indicator .view_btn > button.action { color: #f06; }

#viewBox .indicator .fake_btn { position: absolute; width: 100%; height: 100%; bottom: 0; cursor: pointer; }

#viewBox .slide_form { width: 100%; height: 100%; background-color: rgba(51, 51, 51, 0.2); }

#viewBox .slide_form > ul { width: 100%; height: 100%; }

#viewBox .slide_form > ul > li { position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 100%; font-size: 5rem; font-weight: 900; color: #fff; word-break: break-all; white-space: nowrap; text-shadow: 0.2rem 0.2rem 0.2rem rgba(51, 51, 51, 0.5); box-sizing: border-box; /* padding:5vw;  */ background-repeat: no-repeat; background-position: 100% 50%; background-size: 150%; }

#viewBox .slide_form > ul > li > dl { width: 100%; height: 50%; padding-top: 8vw; }

#viewBox .slide_form > ul > li > dl dt { opacity: 0; font-size: 8rem; text-transform: capitalize; }

#viewBox .slide_form > ul > li > dl dd { opacity: 0; font-size: 1.3rem; text-shadow: none; margin: 5rem 0; }

#viewBox .slide_form > ul > li > dl dd.link { text-transform: uppercase; text-decoration: underline; }

#viewBox .slide_form > ul > li > dl.action dt, #viewBox .slide_form > ul > li > dl.action dd.con, #viewBox .slide_form > ul > li > dl.action dd.link { opacity: 1; transform: translateY(-50px); }

#viewBox .slide_form > ul > li > dl.action dt { transition: all 500ms ease 100ms; }

#viewBox .slide_form > ul > li > dl.action dd.con { transition: all 500ms ease 300ms; }

#viewBox .slide_form > ul > li > dl.action dd.link { transition: all 500ms ease  500ms; }

#viewBox .slide_form > ul > li:nth-child(1) { background-color: #11ff11; }

#viewBox .slide_form > ul > li:nth-child(2) { background-color: #00aa00; }

#viewBox .slide_form > ul > li:nth-child(3) { background-color: #004400; }

#conBox { width: 100%; height: 100%; background-color: #ccc; }

#conBox > button { width: 100px; height: 40px; background-color: #0c9; }

#conBox > .bar { width: 100%; height: 100px; background-color: #fa0; background-image: linear-gradient(90deg, #fa0, #0c9); }
