#wrap { width: 100%; height: 100%; margin: auto; background-color: transparent; }

#viewBox { position: relative; width: 100%; height: 90%; margin: auto; background-color: #fcf; }

.view_btn { position: absolute; z-index: 500; width: 90%; height: 0; top: 50%; left: 5%; }

.view_btn > button { float: left; width: 50px; height: 50px; transform: translateY(-50%); }

.view_btn > .next { float: right; }

.indicator { position: absolute; left: 50%; bottom: 16px; bottom: 1rem; height: 30px; height: 1.875rem; z-index: 500; width: auto; transform: translateX(-50%); padding: 6px; padding: 0.375rem; border-radius: 36px; border-radius: 2.25rem; background-color: #fff; }

.indicator > li { float: left; width: 30px; width: 1.875rem; height: 30px; height: 1.875rem; margin-left: 16px; margin-left: 1rem; }

.indicator > li:first-child { margin-left: 0; }

.indicator > li.action { width: 100px; }

.indicator > li > a { display: block; width: 100%; height: 100%; margin: auto; background-color: #fa0; border-radius: 30px; border-radius: 1.875rem; }

.slide_form { width: 100%; height: 100%; margin: auto; background-color: #acf; }

.slide_wrap { position: relative; width: 500%; height: 100%; margin: auto; background-color: #fa0; }

.slide_wrap > div { float: left; width: 20%; height: 100%; }

.slide_wrap > div.slide_01 { background-color: #acc; }

.slide_wrap > div.slide_02 { background-color: #fac; }

.slide_wrap > div.slide_03 { background-color: #13f; }

.slide_wrap > div.slide_04 { background-color: #fa9; }

.slide_wrap > div.slide_05 { background-color: #ccc; }
